@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #e6f3ff;
}
.food {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #006666;
  background-color: #b3b3ff;
}
.food:hover {
  box-shadow: 5px 8px 10px rgba(0,0,0,0.1);
}
.food h2 {
  font-size: 20px;
  color: #001a1a;
  margin-bottom: 8px;
}
.food p{
  color: #0066ff;
}
.inputField{
  width: 400px;
  border: 2px solid #006666;
  background-color: #fbfbfb;
  padding: 10px 16px;
  display: flex;
  justify-content: center;
  margin: auto;
}